<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="row">
  <div class="input-field col s8 offset-s2">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input id="buscar" type="text" class="validate" oninput="buscar()">
      <label for="buscar">Buscar</label>
    </div>
  </div>
  <div class=" col s8 offset-s2">
    <!-- Iba en un modal, pero no funcionaba, por tirmpo falto fetch de los existentes de id lugares y id Tipo de incidente-->
    <!-- tambien el save casi esta, solo falta recuperar los datos y mandarselos a la base (el modelo ya esta listo) -->
    <form action="/" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
      <h4>Registrar incidente</h4>
      <div class="row">
        <div class="input-field col s12">
            <select name="idLugar" idn="idLugar" required>
              <option value="" disabled selected>Selecciona lugar</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
        </div>
        <div class="input-field col s12">
            <select name="idIncidente" id="idIncidente" required >
              <option value="" disabled selected>Selecciona tipo de incidente</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
        </div>
        <div class="col s12">
          <textarea id="descIncidente" name="descIncidente" class="materialize-textarea"></textarea>
          <label for="descIncidente">Descripción de Incidente</label>
        </div>
        <div class="col s12 right-align">
          <button type="submit"></button>
          <a class="waves-effect waves-light btn" href="#modal1" onclick="registrarIncidente()"><i class="material-icons right">add</i>Registrar</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div >
  
</div>

<div class="container">
  <h2>Registros Incidentes Pasados</h2>
  <%- include('includes/tarjetaIncidente.ejs') %>  
</div>

<%- include('includes/footer.ejs') %> 