<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="row valign-wrapper">
  <!-- Búsqueda -->
  <div class="input-field col s8 offset-s2">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
      <input id="buscar" type="text" class="validate" oninput="buscar()">
      <label for="buscar">Buscar</label>
    </div>
  </div>
  <!-- Boton par activar modal -->
  <div class=" col s5 offset-s2">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right">add</i>Registrar incidente</a>
  </div>
</div>

<!-- Modal de registro -->
<div >
  <%- include('includes/modalRegIncidente.ejs') %>   
</div>

<!-- Tarjetas -->
<div class="container">
  <h2>Registros Incidentes Pasados</h2>
  <%- include('includes/tarjetaIncidente.ejs') %>  
</div>

<%- include('includes/footer.ejs') %> 