<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

        <section class="tabcontent" id="Tienda">
            <h2 class="titulo_sec">Gracias por realizar tu compra con nosotros <%= nombreUser %></h2>
            <p class="flow-text"><%= mensaje %></p>
                <div class="row">
                    <div>
                        <br><p class="flow-text" id="subtotal">Subtotal: $<%= Subtotal %></p>
                        <p class="flow-text" id="descuento">Descuento: <%= Descuento %>%</p>
                        <p class="flow-text" id="iva">IVA: <%= IVA %>%</p>
                        <p class="flow-text" id="total">Total: $<%= Total %></p>
                    </div>
                </div>
            <p class="flow-text">Vuelve pronto</p>
        </section>

<%- include('includes/footer.ejs') %>