<input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
<div class="row" id="lista_mascotas">
    <% for (let incidente of Incidentes) { %>
        <div class="col l3 m4 s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><%= incidente.lugarNombre %>-<%= incidente.nombreTipo %></span>
                  <p><%= incidente.tiempo %></p>
                  <p><%= incidente.descripcion %></p>
                </div>
            </div>
        </div>
    <% } %>
</div>