<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

        <!-- Registra password valido -->
        <section class="tabcontent" id="Password">
            <div>
                <h2 class="titulo_sec">Registra tu password</h2>
            </div>
            <div>
                <% if(error !== false) { %>
                    <span class = "red"> <%= error %></span>
                <% } %>
            </div>
            <div>
                <form action="RegPssw" method="POST" accept-charset="UTF-8">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <label for="username" class="flow-text">Ingresa un nombre de usuario:</label><br>
                    <input type="text" name="username" id="username" value="">

                    <label for="password" class="flow-text">Introduce tu password:</label><br>
                    <input type="password" name="password" id="password" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required
                    minlength="8" title="Una contraseña válida es un conjuto de caracteres, donde cada uno consiste de 
                    una letra mayúscula o minúscula, o un dígito. La contraseña debe empezar con una letra y contener al 
                    menor un dígito. Debe tener al menos 8 caracteres." onkeyup="passwordVal()"><br><br>

                    <label for="passworcheck" class="flow-text">Confirma tu password:</label><br>
                    <input type="password" name="passworcheck" id="passworcheck" value="" onkeyup="passwordVal()">
                    <p id="MessagePasword" class="flow-text"></p>
                    <button class="btn waves-effect waves-light btn-large right" type="submit" name="action">Enviar
                        <i class="material-icons right">send</i></button>
                </form>
            </div>
            <br><br><br> <br>
        </section>

<%- include('includes/footer.ejs') %>